/scicomp/home/ick4/data/collabs/pos_ctrls/twist_bk
/scicomp/home/ick4/data/collabs/pos_ctrls/twist/pycharm
/scicomp/home/ick4/data/collabs/pos_ctrls/twist/trash
/scicomp/home/ick4/data/collabs/pos_ctrls/twist/new_primers
/scicomp/home/ick4/data/collabs/pos_ctrls/twist/S_coelicolor
/scicomp/home/ick4/data/collabs/pos_ctrls/twist/Wolbachia
